.venv
.idea/
mfdp_data
dataset.csv
dataset_mini.csv
result_lstm_test.csv
notebooks/result_lstm.csv
notebooks/y_l.npy
notebooks/y_test.npy
.env
/data/postgres
/data/rabbitmq
data/lstm_data.csv
logs
*.pyc
**/__pycache__/
worker_shared
mlflow_artifacts
mlruns
models/lstm_v2